name: Docker (API)

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-api-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build API image
        run: docker build -f apps/api/Dockerfile -t whiteboard-api:${{ github.ref_name }} .
